*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#F8F3E8;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:90%;
max-width:420px;
background:#fff;
padding:35px;
border-radius:25px;
box-shadow:0 15px 35px rgba(0,0,0,.15);
text-align:center;
}

.logo{
font-size:55px;
margin-bottom:15px;
}

h1{
font-size:42px;
color:#2563EB;
margin-bottom:10px;
}

.subtitle{
font-size:18px;
color:#666;
margin-bottom:35px;
line-height:28px;
}

.btn{
width:100%;
padding:18px;
border:none;
border-radius:18px;
font-size:22px;
font-weight:bold;
margin-bottom:15px;
cursor:pointer;
transition:.3s;
}

.play{
background:#2563EB;
color:white;
}

.rules{
background:#FACC15;
}

.btn:hover{
transform:scale(1.03);
}

.version{
margin-top:20px;
color:#999;
}
